.banner-carousel-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin-top: -20px;
}

.carousel-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%; /* Asegura que el contenido ocupe todo el ancho */
}

.carousel-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: -60px;
    position: relative; 
    z-index: 3; 
    gap: 20px;
}

.banner-title {
    width: 642px;
    height: auto;
    font-size: 60px;
    line-height: 75px;
    color: #131313;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 20%;
    font-family: 'Playfair Display', serif;

}

.banner-price {
    width: 642px;
    height: auto;
    text-align: left;
    font-size: 50px;
    color: #F7527A;
    margin-left: 20%;
}

.new-word {
    width: 55px;
    height: 33px;
    color: #F7527A;
    font-size: 22px;
}

.banner-product {
    font-size: 17px;
    margin-left: 20%;
}

/* Contenedor principal para el fondo */
.image-container {
    position: relative;
    width: 795px;
    height: 520px; /* Tamaño fijo para el contenedor de la imagen */
    background: #F5F5F5;
    border-top-left-radius: 89px;
    border-end-start-radius: 89px;
    overflow: hidden;
    transform: scaleX(1.2); /* Estiramiento solo del contenedor gris */
    transform-origin: right center;
    margin-left: -60px;
    right: -20px;
}

/* Fondo */
.background-layer-one {
    position: absolute;
    left: 70%;
    bottom: 0.5%;
    width: 100%;
    height: 30%;
    background: #F6DCDC;
    border-top-left-radius: 89px;
    border-end-start-radius: 89px;
    opacity: 1;
    transform: translateX(-50%);
    z-index: 1; /* Menor z-index para estar detrás del texto */
}

/* Contenedor de la imagen */
.image-wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%; /* Asegura que el contenedor de la imagen ocupe todo el espacio del contenedor principal */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ajuste de la imagen */
.banner-image {
    width: 100%;
    height:70%;
    object-fit: contain; /* Asegura que la imagen se ajuste correctamente dentro del contenedor */
    margin-bottom: -10%;
    margin-left : 5%;
}

/* Contenedor principal para los botones con los puntos */
.nav-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
    left: 82%; /* Ajusta la posición de los botones */
    bottom: 10%;
    z-index: 3;
    background: #F7527A; 
    padding: 10px;
    border-radius: 71px;
}

/* Contenedor de los puntos, posicionados en forma de semi-círculo a la izquierda de los botones */
.nav-points-container {
    position: absolute;
    left: 100%; 
    top: 40%;
    transform: translateY(-50%); 
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

/* Estilo para cada punto */
.nav-point {
    width: 10px;
    height: 10px;
    background-color: #FAFAFA; 
    border-radius: 50%;
    opacity: 0.6;  
    transition: opacity 0.3s ease, transform 0.3s ease, background-color 0.3s ease; /* Animación suave */
}

/* Distribuir los puntos en un semi-círculo */
.nav-point:nth-child(1) {
    transform: translateX(-5%) rotate(60deg) translateY(-5px); /* Primer punto */
}
.nav-point:nth-child(2) {
    transform: translateX(-5%) rotate(80deg) translateY(-5px); /* Segundo punto */
}
.nav-point:nth-child(3) {
    transform: translateX(-5%) rotate(40deg) translateY(-5px); /* Tercer punto */
}

/* Estilo para el punto activo */
.nav-point.active {
    opacity: 1; 
    transform: scale(1.2);
    background-color: #F7527A; 
}

.nav-button {
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #FAFAFA;
    line-height: 0;  
}

.nav-button:hover {
    background-color: #e54464;
    transform: scale(1.1);
}

.nav-button:focus {
    outline: none;
}